*.log
*.trs
*.o
*.lo
*.la
.ycm_extra_conf.py
.ycm_extra_conf.pyc
autom4te.cache/
.libs/
.deps/
.dirstamp
.*.sw*
*~
stamp-h1
test_coverage/
Makefile
config.status
range_config.h
librange/tests/test_*
!librange/tests/test_*.cpp
!librange/tests/test_*.h
rangexxstored/tests/test_*
!rangexxstored/tests/test_*.cpp
!rangexxstored/tests/test_*.h
rangexxstored/stored
docs
*.pyc
virtenv
